/* Base Styles */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  font-size: 62.5%;
  background-color: #131313;
}
  
::-webkit-scrollbar {
  width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset #313131; 
 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #505050; 
 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #898989; 
}


body {
  color: #212121;
  font-family: 'Nunito', sans-serif;
  font-size: 1.6rem;
}


.button {
  /* Variables */
 --button_radius: 0.75em;
 --button_color: #43799c;
 --button_outline_color: #000000;
 font-size: 17px;
 font-weight: bold;
 border: none;
 border-radius: var(--button_radius);
 background: var(--button_outline_color);
cursor: pointer;
}

.button_top {
 display: block;
 box-sizing: border-box;
 border: 2px solid var(--button_outline_color);
 border-radius: var(--button_radius);
 padding: 0.75em 1.5em;
 background: var(--button_color);
 color: var(--button_outline_color);
 transform: translateY(-0.2em);
 transition: transform 0.1s ease;
}

.button:hover .button_top {
  /* Pull the button upwards when hovered */
 transform: translateY(-0.33em);
}

.button:active .button_top {
  /* Push the button downwards when pressed */
 transform: translateY(0);
}

a {
    color: #396684;
}

/* Container */

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

/* Header */

.header {
  background-color: #181818;
  color: #e7e7e7;
  padding: 1.6rem 0;
}

.header__title {
  font-size: 3.2rem;
  margin-bottom: .4rem;
}

.header__subtitle {
  font-size: 1.6rem;
  font-weight: 300;
}

/* Actions Bar */

.actions {
    background-color: #181818;
    border-bottom: 1px solid #202020;
    padding: .8rem
}

.actions__container {
    align-items: center;
    display: flex;
    max-width: 60rem;
    margin: 0 auto;
    min-height: 3rem;
    padding: 0 1.6rem;
}

.actions__container--spaced {
    justify-content: space-between
}

/* Form Inputs */

.input {
    border-radius: 5px;
    background-color: #11111;
    font-size: 1.4rem;
    font-weight: 300;
    height: 3rem;
    margin-right: .8rem;
    padding: .4rem .8rem;
    border: none;
}

.dropdown {
    border-radius: 5px;
    background-color: #11111;
    font-size: 1.4rem;
    font-weight: 300;
    height: 3rem;
    margin-right: .8rem;
    border: none;
   cursor: pointer;
}

.dropdown option {
    border-radius: 5px;
    background-color: #11111;
    color: black;
}

input.input {
  background-color: #5555;
  color: #e7e7e7;
}

select.dropdown {
  background-color: #5555;
  color: #fff;
}

.button {
    background: #43799c;
    color: #fff;
}

.button:hover {
    background: #396684;
}

.tooltip {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 1em;
 border: 0px solid transparent;
 background-color: rgba(100,77,237,0.08);
 border-radius: 1.25em;
 transition: all 0.2s linear;
cursor: pointer;
}

.tooltip:hover {
 box-shadow: 3.4px 2.5px 4.9px rgba(0, 0, 0, 0.025),
  8.6px 6.3px 12.4px rgba(0, 0, 0, 0.035),
  17.5px 12.8px 25.3px rgba(0, 0, 0, 0.045),
  36.1px 26.3px 52.2px rgba(0, 0, 0, 0.055),
  99px 72px 143px rgba(0, 0, 0, 0.08);
  background-color: transparent;
}

.tooltip {
 position: relative;
 display: inline-block;
}

.tooltip .tooltiptext {
 visibility: hidden;
 width: 4em;
 background-color: rgba(0, 0, 0, 0.253);
 color: #fff;
 text-align: center;
 border-radius: 6px;
 padding: 5px 0;
 position: absolute;
 z-index: 1;
 top: 25%;
 left: 110%;
}

.tooltip .tooltiptext::after {
 content: "";
 position: absolute;
 top: 50%;
 right: 100%;
 margin-top: -5px;
 border-width: 5px;
 border-style: solid;
 border-color: transparent rgba(0, 0, 0, 0.253) transparent transparent;
}

.tooltip:hover .tooltiptext {
 visibility: visible;
}

.button--go_home {
 padding: 10px 25px;
 border: unset;
 border-radius: 15px;
 color: #212121;
 z-index: 1;
 background: #e8e8e8;
 position: relative;
 font-weight: 1000;
 font-size: 17px;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms;
 overflow: hidden;
  margin-top: 15px;
  cursor: pointer;
}

.button--go_home::before{
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 width: 0;
 border-radius: 15px;
 background-color: #212121;
 z-index: -1;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms
}

.button--go_home:hover {
 color: #e8e8e8;
background-color: #212121;
  
}

.button--go_home:hover::before {
 width: 100%;
}
/* Note editor */

.title-input {
    bottom-border: 0.3px solid #e7e7e7;
    font-size: 2rem;
    font-weight: 300;
    display: block;
    margin: 2.4rem 0;
    padding: .8rem;
    width: 600px;
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
    outline: none;
    box-shadow: none;
}


.body-input {
    border: 0.3px solid #e7e7e7;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 300;
    display: block;
    margin: 2.4rem 0;
    min-height: 15rem;
    padding: .8rem;
    max-width: 600px;
    min-width: 600px;
    width: 600px;
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
    outline: none;
}

/* Note List Item */

.list-item {
    text-decoration: none;
    color: #fff;
    background: #131313;
    border: 1px solid #dedfe0;
    margin: 1.6rem 0;
    padding: 1.6rem;
    display: block;
    transition: background .3s ease;
    border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.list-item:hover {
    background: #1a1a1a;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.list-item__title {
    font-size: 1.8rem;
    margin-bottom: .4rem
}

.list-item__subtitle {
    color: #666;
    font-size: 1.4rem;
    font-weight: 300;
    font-style: italic;
}

.empty-message {
    text-align: center;
    margin: 3.2rem 0;
    font-size: 30px;
   margin-bottom: 60px;
   color: #fff;
}

.logo__image{
  height: 100px;
  width: 100px;
  margin: -30px;
  margin-bottom: -10px;
  margin-left: -20px;
}

#time-stamp{
  color: #fff;https://pelly.videntstudios.com
}

.autosave{
  color: #e7e7e7;
  padding-left: 53%;
}


@media screen and (max-width: 700px){
  .body-input{
    max-width: 100%;
    min-width: 100%;
    width: 30%;
  }
  .title-input{
    width: 100%;
  }
  .autosave{
    padding-left: 50px;
  }
}